/node_modules
**/node_modules
**/.wrangler
**/.dev.vars
/release-assets/*.hap
/release-assets/*.app
/oh_modules
/local.properties
/.idea
**/build
/.hvigor
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
/.appanalyzer
/cloud-mail
.codegenie/
/Development Doc/
/harmonyos-default.md
